<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html, body, #map-canvas { height: 95%; margin: 50px; padding: 30px;}
    </style>

    <script type="text/javascript"

      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMWYZQ_-CVeRxA719M3pveepUJS105TOU">

    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 37.7648, lng: -122.463},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        //map pointers can go here 

         var marker1 = new google.maps.LatLng(37.7648,-122.463);

         var marker = new google.maps.Marker({
            position: marker1,
            map: map,
            title: 'Hello World!'
  });

      //addresses start

    var addresses = ['Norway', 'Africa', 'Asia','North America','South America'];
    var target = []; 
    var bounds = new google.maps.LatLngBounds();

    for (var x = 0; x < addresses.length; x++) {
        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {

            var p = data.results[0].geometry.location
            
            var latlng = new google.maps.LatLng(p.lat, p.lng);
            
            
            var ninja = new google.maps.Marker({
                position: latlng,
                map: map
            });
            console.log(ninja.position); 
            target.push(ninja); 
            console.log(target); 
            
            bounds.extend(latlng);
            map.fitBounds(bounds);
            console.log(bounds)


        });
        
    }


    //end of addresses 
    
    
    if(map.getZoom()> 15){
      map.setZoom(15);
    }  
      }


      

    
    

      google.maps.event.addDomListener(window, 'load', initialize);
    
    </script>



  </head>
  <body>

<br>

<div id="map-canvas"></div>


  </body>
</html>