<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

</head>
<body>
	
			<h2 class='about_name'>About us:</h2>
			<h4 class='about_name'>Click on the image to see contributions</h4>
			
				<img src='<%= asset_path('alex.png') %>' data-toggle="popover" data-placement="right" data-content="Project Manager: Organized and outlined project in advance which led to completion of MVP by COB Day 1.GIT Lead: Updated Github Repository to safely move updates from individual branches to the final project branch. Google Maps API v3 Engineer: Used google maps documentation to render a google map and place markers on the map using javascript in a rails environment. Ex-Banker, Math Major, 5.0 Tennis Player." class='about_pic'/>
				<h2 class='about_name'>Alex Trzeciak</h2>
				<p class='positions'>Project Manager, API Integration</p>

				<img src= '<%= asset_path('heidi.png') %>' class='about_pic' data-toggle="popover" data-placement="left" data-content="Being a movie nerd and loving her new home town, Heidi came up with the original idea of Scene in the City. The former journalist came up with all the necessary APIs and researched the SF Open Data and Google Maps API documentation. Heidi helped Alex with API integration and gave the app it’s final stylings."/>
				<h2 class='about_name'>Heidi Kähkönen</h2>
				<p class='positions'>Original idea, API Integration</p>

				<img src= '<%= asset_path('testmark.png') %>' class='about_pic' data-toggle="popover" data-placement="right" data-content="Mark created the logo and website design in Styling CSS using Bootstrap for the front-end. In the back-end development, Mark was responsible for Authorization of users logged in and password security to maintain privacy. He utilized Pundit gem for Ruby on Rails 4 and set up models for storing images."/>
				<h2 class='about_name'>Mark Blum</h2>
				<p class='positions'>Authorization, Styling</p>
			
				<img src='<%= asset_path('david.png') %>' class='about_pic' data-toggle="popover" data-placement="right" data-content="Foreign Language Instructor turned Web Developer. After a lengthy career as an English teacher in Japan I decided to pursue my long held passion for coding." />
				<h2 class='about_name'>David Spencer</h2>
				<p class='positions'>Back-end, Authentication</p>
			
</body>
</html>