
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>


<p class="title">
  <strong>Location:</strong>
  <%= @location.location %>
</p>

<%= image_tag @location.image.url(:large) %> </br>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', users_path %>